extends layout

block content
  .w3-container.w3-padding-16.w3-center
    form(action="/" method="GET" class="w3-row w3-margin-top w3-center w3-animate-opacity" style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px;")
      .w3-third.w3-margin-bottom(style="max-width: 400px; flex: 1 1 400px;")
        input.w3-input.w3-border.w3-round-large(type="text" name="titulo" placeholder="Pesquisar por Título" value=titulo oninput="filterUCs()")
      .w3-third.w3-margin-bottom(style="max-width: 400px; flex: 1 1 400px;")
        input.w3-input.w3-border.w3-round-large(type="text" name="docente" placeholder="Pesquisar por Docente" value=docente oninput="filterUCs()")
      .w3-third.w3-margin-bottom(style="display: flex; justify-content: space-around; max-width: 200px; flex: 1 1 200px;")
        button.w3-button.w3-gray.w3-round-large.w3-input.w3-hover-shadow(type="button", onclick="clearFilters()" style="color: white !important;") Limpar Filtros

  if isDocente || isAdmin
    .w3-container.w3-padding-16.w3-center
      a.w3-button.w3-green.w3-round-large.w3-large.w3-margin-right.w3-hover-shadow(href="/addUC") Adicionar Nova UC

  .w3-row-padding.w3-margin-top.w3-center
    .w3-container(style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px;")
      if ucs.length === 0
        h3.w3-text-deep-purple Não foram encontradas UCs
      else
        each uc in ucs
          .w3-card-4.w3-hover-shadow.w3-white(style="max-width: 750px; flex: 1 1 750px; margin: 20px;")
            .w3-container.w3-padding-large
              h3.w3-text-deep-purple.w3-center.w3-padding-small.w3-border-bottom.w3-border-deep-purple #{uc.titulo}
              .w3-container.w3-padding-small
                p.w3-small
                  strong Docentes: 
                    each docente in uc.docentes
                      span.w3-tag.w3-deep-purple.w3-round= docente.name
                      | &nbsp;
              .w3-container.w3-padding-small.w3-center
                button.w3-button.w3-green.w3-round-large.w3-small.w3-margin-right.w3-hover-shadow(onclick=`window.location.href='/ucs/${uc._id}'`) Ver Detalhes
                if uc.criador == username || isAdmin
                  button.w3-button.w3-yellow.w3-round-large.w3-small.w3-margin-right.w3-hover-shadow(onclick=`window.location.href='/ucs/edit/${uc._id}'`) Editar
                  button.w3-button.w3-red.w3-round-large.w3-small.w3-hover-shadow(onclick=`deleteUC('${uc._id}')`) Apagar

  script.
    function deleteUC(id) {
      if (confirm('Tem a certeza que deseja apagar esta UC?')) {
        fetch(`/ucs/delete/${id}`, {
          method: 'GET'
        }).then(() => {
          window.location.reload();
        });
      }
    }

    const info = !{JSON.stringify(info)}

    document.addEventListener('DOMContentLoaded', () => {
      if (info) {
        alert(info);
      }
    });

    function filterUCs() {
      const titulo = document.querySelector('[name="titulo"]').value;
      const docente = document.querySelector('[name="docente"]').value;

      fetch(`/?titulo=${encodeURIComponent(titulo)}&docente=${encodeURIComponent(docente)}`)
        .then(response => response.text())
        .then(html => {
          const parser = new DOMParser();
          const doc = parser.parseFromString(html, 'text/html');
          const newContent = doc.querySelector('.w3-row-padding');
          document.querySelector('.w3-row-padding').innerHTML = newContent.innerHTML;
        })
        .catch(error => console.error('Error loading the UCs:', error));
    }

    function clearFilters() {
      document.querySelector('[name="titulo"]').value = '';
      document.querySelector('[name="docente"]').value = '';

      fetch(`/?titulo=&docente=`)
        .then(response => response.text())
        .then(html => {
          const parser = new DOMParser();
          const doc = parser.parseFromString(html, 'text/html');
          const newContent = doc.querySelector('.w3-row-padding');
          document.querySelector('.w3-row-padding').innerHTML = newContent.innerHTML;
        })
        .catch(error => console.error('Error loading the UCs:', error));
    }