extends layout

block content
  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Docentes
    .w3-row-padding.w3-center
      .w3-center.w3-padding-small(style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;")
        each docente in uc.docentes
          .w3-card-4.w3-margin.w3-padding.w3-white.w3-hover-shadow(style="flex: 1 1 600px; max-width: 600px; margin: 10px; height: fit-content")
            .w3-container.w3-center
              img(src=`/images/users/${docente.username}.${docente.fotoExt}`, alt=docente.name, class="w3-circle w3-margin-bottom", style="width:80px")
              p
                strong #{docente.name}
              p
                | #{docente.categoria} - #{docente.filiacao}
              p
                | Email: 
                a(href=`mailto:${docente.email}`)= docente.email
              if docente.webpage
                p
                  a(href=docente.webpage, target="_blank") Webpage

  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Horário
    .w3-row-padding-40percent
      .w3-40percent
        h3.w3-text-blue.w3-center Teóricas
        .w3-card-4.w3-white.w3-hover-shadow.w3-ul.w3-container.w3-padding.w3-center
          each teorica, index in uc.horario.teoricas
            | #{teorica}
            if index < uc.horario.teoricas.length - 1
              p
              
      .w3-40percent
        h3.w3-text-blue.w3-center Práticas
        .w3-card-4.w3-white.w3-hover-shadow.w3-ul.w3-container.w3-padding.w3-center
          each pratica, index in uc.horario.praticas
            | #{pratica}
            if index < uc.horario.praticas.length - 1
              p

  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Avaliação
    .w3-card-4.w3-white.w3-hover-shadow.w3-ul.w3-container.w3-padding
      each avaliacao, index in uc.avaliacao
        | #{avaliacao}
        if index !== uc.avaliacao.length - 1
          p

  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Datas Importantes
    .w3-card-4.w3-white.w3-hover-shadow.w3-ul.w3-container.w3-padding
      | Teste: #{uc.datas.teste}
      p
      | Exame: #{uc.datas.exame}
      p
      | Projeto: #{uc.datas.projeto}

  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Aulas
    .w3-row-padding
      if uc.aulas.length === 0
        h3.w3-text-red.w3-center Não existem aulas
      else
        each aula in uc.aulas
          .w3-card-4.w3-margin.w3-white.w3-hover-shadow
            .w3-container.w3-padding
              h3.w3-text-blue #{aula.tipo} - #{aula.data}
              ul.w3-ul
                each sumario in aula.sumario
                    - const regexHTTP = /\[(.+?)\]\((http.+?)\)/g
                    - const regexLocal = /\[(.+?)\]\(\.\/(.+?)\)/g
                    - const newSumarioHTTP = sumario.replace(regexHTTP, '<a target="_blank" href="$2">$1</a>')
                    - const newSumarioLocal = newSumarioHTTP.replace(regexLocal, '<a href="/files/download?path=$2">$1</a>')
                    li.w3-padding-small!= newSumarioLocal

  script.
    function deleteUC(id) {
      if (confirm('Tem a certeza que deseja apagar esta UC?')) {
        fetch(`/ucs/${id}`, {
          method: 'DELETE'
        }).then(() => {
          window.location.href = '/';
        });
      }
    }